.sbdocs-content p,
.sbdocs-content li,
.sbdocs-content a {
  font-size: 1.125rem;
  line-height: 1.6;
}

.sbdocs-content h1,
.sbdocs-content h2,
.sbdocs-content h3,
.sbdocs-content h4,
.sbdocs-content h5 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-top: 1.5rem !important;
}

.sbdocs-content h1 {
  font-size: 2.5rem;
}

.sbdocs-content h2 {
  font-size: 2rem;
}

.sbdocs-content h3 {
  font-size: 1.75rem;
}

.sbdocs-content ol {
  list-style: decimal;
}
